.robot-card {
  min-width: 0;
  padding: 1rem;
  width: 100%;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  max-width: 25rem;
  position: relative;

  @media (min-width: 768px) {
    width: 20rem;
  }
}

.robot-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.robot-id {
  font-size: var(--font-large);
  font-weight: var(--font-weight-medium);
}

.robot-model {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-small);
}

.robot-central-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.robot-image {
  max-height: 6.25rem;
  width: 100%;
  object-fit: contain;
}

.return-button {
  padding: 0.7rem 1rem;
  align-self: center;
  font-size: 0.8rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.06em;
  border: none;
  border-radius: var(--border-radius-small);
  background-color: #4067c3;
  color: white;
  cursor: pointer;
  transition: opacity 0.2s ease;
  width: 100%;

  @media (min-width: 768px) {
    width: fit-content;
  }
}

.return-button:hover {
  opacity: 0.8;
}

.return-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(64, 103, 195, 0.5);
}

.return-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
